<section class="row">
  <article class="jumbotron col-md-8">
    <h2>Connect with all your friends!</h2>
    <ul id="bullet-points">
      <li><strong>See photos and updates</strong> in your newsfeed</li>
      <li><strong>Post your status for the world to see</strong> from your profile</li>
      <li><strong>Get in touch with your friends</strong> by "friending" them</li>
      <li><strong>Like things</strong> because you're a positive person!</li>
    </ul>
  </article>
  <article class="col-md-4">
    <%= render 'form' %>
  </article>
</section>