<!-- Comment by Other User-->
<section class="row">
  <section class="col-xs-2">
    <img class="post-photo" src="assets/user_silhouette_generic.png">
  </section>
  <section class="col-xs-10">
    <a href="#">Ron Weasley</a><br>
    <datetime class="date-text">June 21, 2015 12:00pm</datetime><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
</section>
<!-- Like link -->
<section class="row">
  <section class="col-xs-1 col-xs-offset-2">
    <a href="#">Like</a>
  </section>
</section><br>

<!-- Comment by Current User -->
<section class="row">
  <section class="col-xs-2">
    <img class="post-photo" src="assets/user_silhouette_generic.png">
  </section>
  <section class="col-xs-10">
    <a href="#">Harry Potter</a><br>
    <datetime class="date-text">June 21, 2015 12:00pm</datetime><br><br>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
    tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
    quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
    consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
    cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
    proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
</section>
<!-- Like amd Delete links -->
<section class="row">
  <section class="col-xs-1 col-xs-offset-2">
    <a href="#">Like</a>
  </section>
  <section class="col-xs-2 col-xs-offset-7">
    <a href="#">Delete</a>
  </section>
</section><br>

<!-- Add Comment -->
<section class="row">
  <article class="col-md-12 form-group">
    <textarea class="form-control" rows="3" placeholder="Leave a comment..."></textarea>
    <section class="row">
      <section class="col-md-10">
        <button class="btn btn-submit post-button">Comment</button>
      </section>
      <section class="col-md-2">
        <a href="#">Cancel</a>
      </section>
    </section>
  </article>
</section>
