<!--Post Form-->
<section class="row post-box">
  <article class="col-md-12 form-group">
    <h3>New Post</h3>
    <%= form_for @new_post, html: { method: 'POST' }, url: user_posts_path(@user) do |f| %>
      <%= f.text_area :body, placeholder: "What's on your mind?", class: "form-control" %>
      <%= f.submit "Create Post", class: "btn btn-submit post-button" %>
    <% end %>
  </article>
</section>
