<!--Post Form-->
<section class="row post-box">
  <article class="col-md-12 form-group">
    <h3>Post</h3>
    <textarea class="form-control" rows="3" placeholder="What's on your mind?"></textarea>
    <button class="btn btn-submit post-button">Post</button>
  </article>
</section>
