<!-- Friends Section -->
<section class="row post-box">
  <article class="col-md-12">
    <h3>Friends (456)</h3>
    <section class="row">
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/user_silhouette_generic.png"></a>
        <a href="#">Hermione Granger</a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/user_silhouette_generic.png"></a>
        <a href="#">Ron Weasley</a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/user_silhouette_generic.png"></a>
        <a href="#">Ginny Weasley</a>
      </section>
    </section>
    <section class="row">
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/user_silhouette_generic.png"></a>
        <a href="#">Neville Longbottom</a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/user_silhouette_generic.png"></a>
        <a href="#">Luna Lovegood</a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/user_silhouette_generic.png"></a>
        <a href="#">Rubeus Hagrid</a>
      </section>
    </section>
    <section class="row">
      <section class="col-xs-12 bottom-link-text">
        <a href="#">See More Friends</a>
      </section>
    </section>
  </article>
</section>
