<!-- Photo Section -->
<section class="row post-box">
  <article class="col-md-12">
    <h3>Photos (123)</h3>
    <section class="row">
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/icon_photo_small.png"></a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/icon_photo_small.png"></a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/icon_photo_small.png"></a>
      </section>
    </section>
    <section class="row">
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/icon_photo_small.png"></a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/icon_photo_small.png"></a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/icon_photo_small.png"></a>
      </section>
    </section>
    <section class="row">
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/icon_photo_small.png"></a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/icon_photo_small.png"></a>
      </section>
      <section class="col-xs-4 thumbnail">
        <a href="#"><img src="assets/icon_photo_small.png"></a>
      </section>
    </section>
    <section class="row">
      <section class="col-xs-12 bottom-link-text">
        <a href="#">See More Photos</a>
      </section>
    </section>
  </article>
</section>
