<section class="row">
  <section class="col-md-4">

  </section>
  <section class="col-md-8">
    <%= render partial: "posts/form" %>

    <% @posts.each do |post| %>

      <%= render partial: "posts/view", locals: { post: post } %>

    <% end %>
  </section>
</section>
