/*
Extra styles on top of Bootstrap
*/

$danebook-brand-color: #2B78E4;
$danebook-neutral-color: #C1C1C1;
$default-padding: 10px;

.navbar {
  background-color: $danebook-brand-color;
  color: #FFFFFF;
}

main {
  padding-top: 70px;
}

#bullet-points {
  line-height: 42px;
  font-size: 21px;
  color: #888;
}

.navbar-inverse .navbar-brand {
  color: #f1f1f1;
}

.post {
  padding: 20px;
}

.comment {
  padding: 20px;
  padding-left: 50px;
}

.cover-photo-area {
  padding: 0px;
  height: 315px;
  width: 851px;

  .cover-photo-name {
    color: white;
    position: absolute;
    top: 0;
  }

  .cover-photo {

  }

  .profile-photo {
    position: absolute;
    left: 20px;
    bottom: 20px;
  }

  .btn {
    position: absolute;
    right: 20px;
    bottom: 20px;
  }
}

.content-column {
  padding-left: 20px;
}

.panel {
  padding: 10px;
}
