/*
Extra styles on top of Bootstrap
*/

$danebook-brand-color: #2B78E4;
$danebook-neutral-color: #C1C1C1;
$default-padding: 10px;

.navbar {
  background-color: $danebook-brand-color;
  color: #FFFFFF;
}

main {
  padding-top: 70px;
}

#bullet-points {
  line-height: 42px;
  font-size: 21px;
  color: #888;
}

.navbar-inverse .navbar-brand {
  color: #f1f1f1;
}
