<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <section class="navbar-header">
      <%= render 'layouts/collapse_button' %>

      <%= link_to "Danebook", root_path, class: "navbar-brand" %>
    </section>
    
    <%= render 'layouts/search_form' %>

    <section class="navbar-collapse collapse">

      <%= navbar_forms %>

    </section><!--/.navbar-collapse -->
  </div><!--end container-->
</nav><!--end navbar-->
