<div class="navbar-form navbar-right">

  <%= link_to current_user.full_name, profile_path(current_user.profile) %>

  <%= link_to "Sign Out", logout_path, method: :delete, class: "btn btn-info" %>

</div>
