<!DOCTYPE html>
<html>

  <%= render 'layouts/head' %>

  <body>

    <%= render 'layouts/navbar' %>

    <main class="container">

      <div class="flash-holder">
        <%= render 'layouts/flash' %>
      </div>

      <section class="row">
        <section class="col-md-10 col-md-offset-1">
          <%= yield %>
        </section>
      </section>

    </main>
  </body>
</html>
